<%layout("/layout/boilerplate")%>
<body>
    <h1>&nbsp;<i>All Listings</i></h1>
    <div class="row row-cols-lg-3 row-cols-mid-2 row-cols-sm-1">
        <%for(let list of all_listing){%>
            <a href="/listings/<%=list._id%>/edit" class="listing-link">
            <div class="card">
            <img src="<%=list.image.url%>" class="card-img-top" alt="listing_Img" style="height: 20rem;">
            <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text"><b><i><%= list.title %></i></b><br>&#8377;<i><%= list.price.toLocaleString("en-IN")%>/night</i></p>
                </div>
            </div>
            </a>
        <%}%>
    </div>
</body>
