<%layout("/layout/boilerplate")%>
<body>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post">
        <input  name="listing[title]" placeholder="Enter Title" type="text">
        <br>
        <textarea  name="listing[description]" placeholder="Enter Description"></textarea>
        <br>
        <input  name="listing[image]" placeholder="Enter Image URL" type="text">
        <br>
        <input  name="listing[price]" placeholder="Enter Price" type="number">
        <br>
        <input  name="listing[country]" placeholder="Enter Country" type="text">
        <br>
        <input  name="listing[location]" placeholder="Enter Location" type="text">
        <br>
        <button>Add</button>
    </form>
</body>